t/data/auto/complex_element.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://element.example.com/"
    xmlns:ec="http://element.example.com/"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="test" type="ec:testType"/>

    <xsd:complexType name="testType">
        <xsd:sequence>
            <xsd:element name="id"   type="xsd:int"    minOccurs="0" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
